<div class="bg-beige-suave rounded-2 py-2 px-4">
        <p class="fw-bold mb-0">{{}}</p>
        <p class="text-secondary small mt-0">{{}}</p>
        <div class="d-flex gap-3">
            <p class="rounded-2 bg-beige-encendido small fw-medium py-1 px-2">{{}}</p>
            <p class="rounded-2 bg-beige-apagado small fw-medium py-1 px-2">{{}}</p>
    </div>
    <div class="d-flex justify-content-end align-items-end">
        <button type="button" id="btn-show-work-{{}}" data-id-empledo="{{}}" class="btn btn-warning"><i class="bi bi-arrow-right"></i></button>
    </div>
</div>

<!-- <div class="bg-beige-suave rounded-2 py-2 px-4">
        <p class="fw-bold mb-0">Desarrollador backend Java</p>
        <p class="text-secondary small mt-0">Banco Agricola - San Salvador</p>
        <div class="d-flex gap-3">
            <p class="rounded-2 bg-beige-encendido small fw-medium py-1 px-2">$1,800 - $2,000</p>
            <p class="rounded-2 bg-beige-apagado small fw-medium py-1 px-2">Tiempo completo</p>
    </div>
    <div class="d-flex justify-content-end align-items-end">
        <button class="btn btn-warning"><i class="bi bi-arrow-right"></i></button>
    </div>
</div> -->